:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500  ;
  color: #f4f4f4;
  background-color: #242424;
  
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;

}

.container{
  display: flex;
  min-height: 100vh;
  
  justify-content: center;
  align-items: center;
 
}